@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 254 71% 25%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 20% 94%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 20% 94%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 254 71% 25%;
    --radius: 0.8rem;
    --chart-1: 254 71% 25%;
    --chart-2: 45 100% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 90%;
    --sidebar-primary: 254 71% 35%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 224 71% 12%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 224 71% 12%;
    --sidebar-ring: 254 71% 35%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 254 71% 45%;
    --primary-foreground: 210 20% 98%;
    --secondary: 224 71% 12%;
    --secondary-foreground: 210 20% 98%;
    --muted: 224 71% 12%;
    --muted-foreground: 215 16% 57%;
    --accent: 224 71% 12%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 12%;
    --input: 224 71% 12%;
    --ring: 254 71% 45%;
    --radius: 0.8rem;
    --chart-1: 254 71% 45%;
    --chart-2: 45 100% 52%;
    --chart-3: 197 37% 34%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 90%;
    --sidebar-primary: 254 71% 45%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 224 71% 12%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 224 71% 12%;
    --sidebar-ring: 254 71% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .ProseMirror {
    outline: none;
  }

  .ProseMirror > * + * {
    margin-top: 0.75em;
  }

  .ProseMirror ul,
  .ProseMirror ol {
    padding: 0 1rem;
  }

  .ProseMirror h1,
  .ProseMirror h2,
  .ProseMirror h3 {
      line-height: 1.1;
      font-weight: 600;
  }
  
  .ProseMirror h1 {
    font-size: 1.5rem;
  }
  .ProseMirror h2 {
    font-size: 1.25rem;
  }
  .ProseMirror h3 {
    font-size: 1.1rem;
  }

  .ProseMirror p {
      line-height: 1.5;
  }

  .ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid hsl(var(--border));
  }
}